# plugin data files to be removed on the wipe, increase number with each file
delete[0]="oxide/data/NTeleportationHome.json"
delete[1]="oxide/data/NTeleportationTPR.json"
delete[2]="oxide/data/AutoDoors.json"
delete[3]="oxide/data/Kits_Data.json"